:root {
  --back-color-light: #444451;
  --back-color-dark: #3a3a43;
  --color-green-light: #36eeb9;
  --color-green: #1EB980;
  --color-green-dark: #045D56;
  --logo-dim: 220px;
  --uni-logo-dim: 110px;
}

* {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Righteous', cursive;
}

.back-dark {
  background-color: var(--back-color-dark);
}
.back-light {
  background-color: var(--back-color-light);
}
.font-righteous {
  font-family: 'Righteous', cursive;
}
.text-col-green1 {
  color: var(--color-green-light);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.text-col-blue {
  color: #1565c0;
}
.text-col-green2 {
  color: var(--color-green-dark);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.text-col-yellow {
  color: #fdd835;
}


/* Naviagtie */

.navbar {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-contract {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 8px -1px #000;
}
.navbar-brand {
  color: white !important;
  font-size: 36px;
  transition: color 0.2s ease-out;
}
.navbar-brand:hover {
  color: var(--color-green) !important;
}
.nav-link {
  font-weight: 600;
  font-size: 20px;
  margin-left: 12px;
  margin-right: 12px;
}

.hover-underline-anim a {
  color: white !important;
  transition: color 0.2s ease-out;
}
.hover-underline-anim:hover a {
  color: var(--color-green) !important;
}
.hover-underline-anim {
  position: relative;
  overflow: hidden;
}
.hover-underline-anim:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10%;
  background: var(--color-green);
  height: 4px;
  -webkit-transition: bottom 0.2s ease-out;
  transition: bottom 0.2s ease-out;
}
.hover-underline-anim:hover:before {
  bottom: 0;
}

.hover-btn-back-anim {
  position: relative;
  overflow: hidden;
  font-weight: 400;
  background-color: transparent;
  color: var(--color-green);
  border-color: var(--color-green);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 1;
}
.hover-btn-back-anim:hover {
  color: white;
  border-color: transparent;
}


/* Sectiune 1: banner */

.title-container {
  padding-right: 5vw;
}
.title-container h1 {
  font-size: 84px;
}
.container_0-title-big {
  font-size: 10vw !important;
  color: black;
}
.container_0-title-small {
  opacity: 0;
}
#container_0 {
  height: 800px;
  padding-top: 150px;
  color: white;
  background: linear-gradient(-75deg, #1EB980 0%, #1EB980 40%, #36eeb9 40%, #36eeb9 41%, #045D56 41%, #045D56 47%, transparent 47%); /* background mare */
}
#container_0_logo {
  opacity: 0;
}
#container_0_desc {
  height: 100%;
  padding: 48px;
  font-size: 36px;
}
#container_0_desc_0 {
  font-size: 54px;
}


/* Sectiune 2  */

.section-title {
  font-style: italic;
  padding: 72px;
  color: white;
  font-size: 72px;
}
.section-underline {
  background-image: linear-gradient(-90deg, #1EB980 0%, #1EB980 60%, #36eeb9 60%, #36eeb9 65%, #045D56 65%, #045D56 85%, transparent 85%);
  background-position: 0 98%;
  background-repeat: repeat-x;
  background-size: 100% 6px;
}
.section-underline2 {
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 4px;
}
.text-description1 {
  color: white;
  font-size: 42px;
}
.text-description2 {
  color: white;
  font-size: 26px;
}
.signup-filler-text {
  color: white;
}
.signup-opt-text {
  font-size: 56px;
  color: white;
}
#container_1 {
  height: 100%;
}
#container_1_signup {
  height: 320px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px -1px #111111;
  padding: 0;
}
#container_1_col_1 {
  width: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#container_1_col_2 {
  width: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#signup_btn_v {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#signup_btn_v:before {
  content: "";
  position: absolute;
  left: -100%;
  right: 100%;
  bottom: 0;
  height: 100%;
  background: linear-gradient(110deg, #1EB980 0%, #1EB980 40%, #045D56 40%, #045D56 60%, transparent 60%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: -1;
}
#signup_btn_v:hover:before {
  left: 0;
  right: 0;
}
#signup_btn_c {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#signup_btn_c:before {
  content: "";
  position: absolute;
  left: 100%;
  right: -100%;
  bottom: 0;
  height: 100%;
  background: linear-gradient(-70deg, #1EB980 0%, #1EB980 40%, #045D56 40%, #045D56 60%, transparent 60%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: -1;
}
#signup_btn_c:hover:before {
  left: 0;
  right: 0;
}


/* Sectiune 3 */

.prog-date-text {
  color: white;
  font-size: 20px;
  padding-top: 8px;
}
.prog-title-text {
  color: white;
  font-size: 36px;
}
.prog-comm-text {
  color: white;
  font-size: 20px;
  padding-top: 8px;
}
.divider {
  height: 1px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 12px;
  background-color: white;
  opacity: 0.05;
}
.text-marker {
  background-image: linear-gradient(-90deg, #1EB980 0%, #1EB980 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 5px;
}
#container_2 {
  height: 100%;
}


/* Sectiune 4 */

.text-counter {
  color: white;
  font-size: 56px;
  transform: translateY(20%);
}
.text-counter-cont {
  margin-bottom: 120px;
}
.text-counter-cont:before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border: 4px solid var(--color-green);
  background: var(--back-color-dark);
  border-radius: 50%;
}
.container-anim {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item-gone {
  opacity: 0;
  position: absolute;
}
.challenge-text-cont {
  padding: 24px;
  border-radius: 80px;
  margin-top: 36px;
  margin-bottom: 36px;
}
.challenge-text {
  font-size: 34px;
  margin-left: 24px;
  padding: 16px;
  background: linear-gradient(70deg, #1EB980 0, #1EB980 78px, #36eeb9 78px, #36eeb9 85px, #045D56 85px, #045D56 110px, transparent 110px);
  border-radius: 40px;
}
.challenge-text2 {
  color: white;
  font-size: 28px;
}
#container_3 {
  height: 100%;
}
#container_3_loading {
  width: 200px;
  height: 200px;
  background-color: var(--back-color-dark);
  border-radius: 6px;
  box-shadow: 0px 2px 2px -1px #111111;
}
#loading_logo {
  width: 80%;
  height: 80%;
}
#loading_text {
  color: white;
  font-size: 24px;
  margin-top: -20px;
}


/* Sectiune 5 */

.faq-question {
  margin-top: 16px;
  color: white;
  display: list-item;
  list-style-type: none;
}
.faq-question:before {
  content: '#';
  color: var(--color-green);
  margin-left: -32px;
  margin-right: 10px;
}
.faq-answer {
  color: white;
  font-size: 26px;
}
#container_4 {
  height: 100%;
}


/* Footer */

.col-divider {
  border-right: 1px solid #4d4d59;
}
.footer-title-container {
  justify-content: flex-end;
}
.footer-title {
  color: white;
}
.footer-text-container {
  justify-content: flex-start;
}
.footer-text {
  color: white;
  font-size: 18px;
}
.footer-text:hover {
  color: white;
}
#container_footer {
  height: 100%;
}
#container_footer_logo {
  margin-right: 16px;
  width: var(--uni-logo-dim);
  height: var(--uni-logo-dim);
}


/* Adaptabilitate */

@media screen and (min-width: 768px) {
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .navbar-right {
    position: absolute;
    left: 100%;
    transform: translatex(-100%);
  }
  .hover-btn-back-anim:before {
    content: "";
    position: absolute;
    left: 100%;
    right: -100%;
    bottom: 0;
    height: 100%;
    background: linear-gradient(-70deg, #1EB980 0%, #1EB980 40%, #045D56 40%, #045D56 60%, transparent 60%);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: -1;
  }
  .hover-btn-back-anim:hover:before {
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 1500px) {
  .container_0-title-big {
    font-size: 150px !important;
  }
}
@media (max-width: 480px) {
  .text-description2 {
    font-size: 22px;
  }
  .signup-filler-text {
    font-size: 14px;
    color: white;
  }
  .signup-opt-text {
    font-size: 24px;
    color: white;
  }
  .faq-question {
    font-size: 32px;
  }
  .faq-answer {
    font-size: 22px;
  }
  #container_0_desc_0 {
    font-size: 50px;
  }
  #container_0_desc_1 {
    font-size: 32px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .signup-filler-text {
    font-size: 16px;
    color: white;
  }
  .signup-opt-text {
    font-size: 36px;
    color: white;
  }
}
@media (max-width: 767px) {
  .hover-btn-back-anim:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    z-index: -1;
  }
  .hover-btn-back-anim:hover:before {
    background-color: var(--color-green);
  }
  .section-title {
    font-style: italic;
    padding: 48px;
    color: white;
    font-size: 48px;
  }
  .footer-title-container {
    border-style: none;
    justify-content: center;
  }
  .footer-text-container {
    border-top: 1px solid #4d4d59;
    margin-top: 18px;
    padding-top: 18px;
    align-items: center;
  }
  #container_1_signup {
    height: 220px;
  }
}
@media (max-width: 1200px) {
  #container_0 {
    height: 100%;
    padding-top: 140px;
    color: white;
    background: transparent;
  }
  .title-container {
    background: linear-gradient(180deg, #1EB980 0, #1EB980 88%, #36eeb9 88%, #36eeb9 90%, #045D56 90%, #045D56 100%); /* background mic */
    padding-bottom: 48px;
  }
  .container_0-title-big {
    position: absolute;
    opacity: 0;
  }
  .container_0-title-small {
    opacity: 1;
    font-size: 9vw !important;
    color: black;
  }
  #container_0_logo {
    opacity: 1;
    width: var(--logo-dim);
    height: var(--logo-dim);
  }
}
